$main-green: #95e1d3;
$secendary-orange: #f38181;
$yellow: #fce38a;
$light-green: #eaffd0;
$gray: #999999;
$white: #ffffff;
$black: #000000;
$transparent: #ffffff00;

$hero-gradient: linear-gradient(
  180deg,
  rgba(243, 129, 129, .8) 0%,
  rgba(252, 227, 138, .8) 74%
);

$menu-bgc: rgba(243, 129, 129, .7);