*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

img {
  height: auto;
}

a,
button {
  all: unset;
  cursor: pointer;
}

button {
  text-transform: uppercase;
}

ul,
li {
  list-style: none;
}

span {
    text-transform: uppercase;
    font-weight: bold;
}


